.comment{
  display: flex;
  max-width: 800px;
  border-bottom: 2px solid #F5F5F5;
  margin-bottom: 15px;
  padding-bottom: 15px;
  &__image{
    flex: 10%;
    text-align: center;
    img{
      width: 100%;
      border-radius: 999px;
      max-width: 100px;
    }
    &--fallback{
      img{
        border:2px solid #DADADA;
      }
    }
  }
  &__content{
    flex: 90%;
    margin-left: 20px;
    h1{
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 15px;
    }
    p{
      font-size: 14px;
      line-height: 1.4;
      color: #888;
      text-align: justify;
    }
    &__date{
      color: #7A4BDA;
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      margin-left: 3px;
    }
  }
  @media all and (max-width: 500px) {
    flex-direction: column;
    &__image{
      margin-bottom: 20px;
    }
  }
}