<div class="content">
  <div class="title">
    <h1>Mount Everest, also known in Nepal as Sagarmāthā and in Tibet as Chomolungma, is Earth's highest mountain</h1>
  </div>
  <%= render_component "video", vimeo_id: @vimeo_video %>
  <%= render_component "social_media_icons", facebook_url: "http://facebook.com/burton" %>
</div>
<div class="sidebar">

</div>