/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require mountain_view
 */

@import "bourbon";


body{
  font-family: 'Helvetica Nueue', 'Arial', sans-serif;
}

.container{
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

.header{
  margin-top: 30px;
  margin-bottom: 50px;
  &__logo img{
    width: 99px;
    height: 100px;
  }
}

.content{
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  padding: 15px;
  box-sizing: border-box;
  &__description{
    margin-top: 25px;
    color: #999;
    margin: 0;
    font-size: 13px;
    line-height: 1.5;
  }
}

.sidebar{
  float: left;
  display: block;
  margin-right: 0;
  width: 31.76157%;
  padding: 15px;
  box-sizing: border-box;
}

.demo-hint{
  position: absolute;
  top: 20px;
  right: 140px;
  padding: 24px;
  background: #7A4BDA;
  width: 440px;
  font-size: 13px;
  color: #FFF;
  h3{
    margin: 0;
    margin-bottom: 12px;
  }
  p{
    margin-top: 0;
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  a{
    color: #DBCFF4;
  }
}