.responsive-video
  - if properties[:youtube_id]
    %iframe{ allowfullscreen: "", frameborder: "0", src: "https://www.youtube.com/embed/#{ properties[:youtube_id ]}" }
  - if properties[:vimeo_id]
    %iframe{allowfullscreen: "", frameborder: "0", mozallowfullscreen: "", src: "https://player.vimeo.com/video/#{ properties[:vimeo_id] }", webkitallowfullscreen: ""}